@import "../../Styles/GlobalStyle.scss";

.LoginScreen {
  @extend .Screen;
  @include apply-flexlayout(center, center, column);
  background: url(../../img/slide2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.LoginForm {
  @include apply-flexlayout(center, center, column);
  width: 80%;
  max-width: 360px;
  height: 60%;
  max-height: 580px;
  padding: 60px 30px;
  border-radius: 10px;
  background: #f1f1f1;
  @extend .LiftedDropShadow;

  h1 {
    text-align: center;
    margin-bottom: 60px;
    font-family: $roboto;
  }

  .LoginInput {
    border-bottom: 2px solid #adadad;
    width: 100%;
    position: relative;
    @include margin-vertical(5px);

    input {
      font-size: 15px;
      font-family: $yellowtail;
      color: #333;
      border: none;
      width: 100%;
      outline: none;
      background: none;
      height: 40px;
    }
  }

  .LoginButton {
    width: 100%;
    height: 50px;
    border: none;
    font-family: $roboto;
    background-image: linear-gradient(120deg, #414943, #2a2d2a);
    background-size: 200%;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-position: right;
    }
  }
}
