@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chelsea+Market&family=Poppins:wght@400;800&display=swap');

.section1{
  background-image: url(../../img/black.jpg);
  height:  100vh;
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.section2{
  background-image: url(../../img/black.jpg);
  height:  100vh;
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section3{
  background-image: url(../../img/black.jpg);
  height:  100vh;
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.education-title{  
  margin-bottom: 15rem;
}
.education-name{
 color: #FFF;
 font-size: 5rem;
 font-family: 'Chelsea Market', cursive;
}

.education-sub{
  color: #FFF;
  font-size: 1rem;
  font-family: 'Chelsea Market', cursive;

}
.contact{
  background-color: #FFF;
  width: 30rem;
}
.contact-call{
  text-align: center;
  margin: 1rem;
  color: black;
}

.contact-form{
  margin: 2rem;
}
.contact-button{
  margin-left: 11rem;
}
.cards{
  margin-top: 5rem;
  margin-left: 5rem;
}
