@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chelsea+Market&family=Poppins:wght@400;800&display=swap');

.bodyH{
    background-color:#496A81;

}
.acess{
    background-color: #E5E5E5;
}
.welcome{
    font-size: 0.90rem;
}
.langue{
    margin-left: 0.5rem;
    
}
.logo-styles{
    width: 6rem;
    margin-left: 2rem;

}
.icon-styles{
    width: 1.5rem;
    margin-right: 1rem;
    color: #E5E5E5;
}
.contato-style{
    margin-top: 2rem;
    color: #fff;

}
.hour{
    margin-left: 4rem;
}
.navega{

    color: #000;
    font-style: inherit;
    font-size: 1.20rem;
    font-family: 'Poppins', sans-serif;
}
.navega:hover{
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.nav-style{
    background-color: #FCA311;
    text-align: center;
    height: 4rem;
    padding: 1rem;

}
.nav-style:hover{
    background-color: #E5E5E5;
   
}
.nav-search{
    background-color: #FCA311;
    height: 4rem;
    padding: 0.8rem;
   

}
.english-style{
    width: 1.5rem;
}
.login-style{
    color: #000;
    margin-right: end;
}
.login-style:hover{
    color: #000;
}

.card-ready {
    width: 300px;
    height: 450px;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/naviobase.jpg);
    margin: 2rem auto 0;
  }


.card-info {
  transform: translateY(100%);
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 10px;
  color: #fff;
  transition: all 0.25s ease-in;
  font-family: 'Poppins', sans-serif;
  align-items: center;

}

.card:hover .card-info {
  transform: translateY(0%);
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 33px;
  margin: 0;
}

.card-description {
  font-size: 16px;
  letter-spacing: 1.3px;
  line-height: 22px;
}
.cardnews{
    margin-top: 2rem;
}
.section{
height:  100vh;
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #14213D;
}
.card-styleA{
    background-color: #FCA311;
    height: 16rem;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
}
.card-styleB{
    background-color: #496A81;
    height: 12rem;
    margin: 1rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.card-styleC{
    background-color: #496A81;
    height: 13rem;
    margin: 1rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.card-styleD{
    background-color: #E5E5E5;
    height:17rem;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;

}
.section1{
    height:  50vh;
 
}
.section2{
    height:  100vh;
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #FCA311;
    }
.aboutus-style{
    background-color: #E5E5E5;
    height:80vh;
    margin: 1rem;

}
.aboutuscard-style{
    height: 10rem;
    width: 10rem;
    background-color: #000;
    margin: 1rem;
  

}
.aboutus-title{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;

}
.contact{
    background-color: #FFF;
    width: 40rem;
    font-family: 'Poppins', sans-serif;
  }
  .contact-call{
    text-align: center;
    margin: 1rem;
    color: black;
  }
  
  .contact-form{
    margin: 2rem;
  }
  .contact-button{
    margin-left: 16rem;
  }
  .aboutus-text{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;

  }
  .logo-card{
      width: 6rem;
      margin-left: 5rem;
  }