@import "../Styles/GlobalStyle.scss";

.Header {
  width: 100%;
  background-color: #000;
  opacity: 0.9;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
  }

  .Container {
    max-width: 1100px;
    margin: 0 auto;

    .Navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .Logo {
        h1 {
          color: #eee;
          font-family: Verdana;
          padding: 0.5em;
          font-size: 1.5em;
        }
      }

      .Menu {
        ul {
          display: flex;
          list-style: none;
        }

        ul li a {
          text-decoration: none;
          padding: 1.7em;
          display: inline-block;
          transition: all 0.5s;
          position: relative;
          border-right: 1px solid #1abc9c;
        }

        ul li a::before {
          content: "";
          position: absolute;
          bottom: 12px;
          left: 28px;
          width: 20%;
          height: 1px;
          background: white;
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.5s;
        }

        ul li a:hover::before {
          transform: scaleX(1);
        }

        ul li a:hover {
          background: #1abc9c;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .Navbar {
    @include apply-flexlayout(center, center, column);
  }
}

@media (max-width: 640px) {
  ul li a {
    padding: 0.5em;
  }
  ul li a::before {
    content: "";
    width: 0;
  }
}
